{% extends "blog/base.html" %}
{% block content %}
    <h1>Rightway.com</h1>
    <p>
        Rightway.com is a social networking blog based websites where people can write about their problems or dilema
        if they are facing in their lives. The other users would help others as a motto that says "we can give better
        suggestions to others than actually helping one self".
        <br>
        The problems would be shared as blog posts and polls and people would try to help it by giving their views to
        others. It may actually help one to make the right choices in such situations and go the 'Rightway'.
        It has been developed by Akash Mishra by using Python Django web framework.
        <br>
        <h3> Contact us : </h3><br>
        <a href="https://www.facebook.com/akashuuuu ">Facebook</a>
        <br>
        <a href="https://www.twitter.com/freakinroll">Twitter</a>
    </p>
{% endblock content %}